.row{
 margin-left: 20px;
 color: #ffff;
}

.posters{
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
}
.posters::-webkit-scrollbar{
    display: none;
}

.poster{
    cursor: pointer;
    max-height: 250px;
    margin-right: 10px;
}

.smallposter{
    cursor: pointer;
    max-height: 170px;
    margin-right: 10px;

}

.poster:hover{
    transform: scale(1.1);

}
.smallposter:hover{
    transform: scale(1.1);

}